<main class="container">
<h1>Hello</h1>

<%= turbo_frame_tag "newcourse" do %>
    <%= link_to "New Course", new_course_path, class:"btn btn-primary"%>
<% end %>
<ul>
    <%= render @courses%>
</ul>
 <%= console  %>

 </main>