<main class="container">
    <h1>Search Course by using:</h1>
    <ul>
        <li>Course Name </li>
        <li>Course I.D </li>
    </ul>
    <div class ="col-sm-6">
        <%= form_with url:"courses/search", method: :get  do |form | %>
            <%= form.label :query, "Search for:" %>
            <%= form.search_field :query %>

            <%= form.submit "Search" %>
        <% end %>
        
    </div>
</main>