
<%= turbo_frame_tag "courses_result" do %>
<h1>Searched <%= pluralize(@courses.length, 'Course')%></h1>
<div class="overflow-scroll" style="height: 80%">
    <%= render partial: "courses/course", collection: @courses %>
</div>
<% end %>
